{%- comment -%}
  ----------------------------------------------------------------------------------------------------------------------
  PRODUCT GALLERY COMPONENT
  ----------------------------------------------------------------------------------------------------------------------

  This component is used to show the product gallery (used in product page and featured product section)

  ********************************************
  Supported variables
  ********************************************

  * product: the product to render (if empty, renders placeholder content)
  * product_form_id: the product form id
  * desktop_layout: the layout on desktop (can be "carousel_thumbnails_left", "carousel_thumbnails_bottom", "carousel_dots", "grid", "grid_2x" or "grid_2x_highlighted")
  * mobile_controls: the controls to show on mobile (can be "thumbnails", "dots", "arrows" or "free_scroll")
  * enable_media_autoplay: if set to true media are autoplayed when switched to
  * enable_video_looping: if set to true videos automatically loop when finished
  * enable_image_zoom: if set to true the gallery allow zoom
  * max_image_zoom_level: the maximum zoom level allowed (if enabled)
{%- endcomment -%}

<style>
  {%- if mobile_controls == 'free_scroll' -%}
    @media screen and (max-width: 999px) {
      #shopify-section-{{ section.id }} {
        --product-gallery-carousel-grid: auto / auto-flow min(28rem, 75vw);
        --product-gallery-carousel-gap: 0.125rem;
        --product-gallery-carousel-scroll-snap-type: none;
      }
    }
  {%- endif -%}

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- if desktop_layout == 'carousel_thumbnails_left' or desktop_layout == 'grid' -%}
        /* Thumbnails on the left */
        --product-gallery-flex-direction: row-reverse;
        --product-gallery-thumbnail-list-grid-auto-flow: row;

        {%- if desktop_layout == 'carousel_thumbnails_left' -%}
          --product-gallery-thumbnail-list-max-height: 45rem;
        {%- endif -%}
      {%- endif -%}

      {%- if desktop_layout contains 'grid' -%}
        --product-gallery-carousel-grid: auto-flow dense / {% if desktop_layout == 'grid' %}auto{% else %}repeat(2, minmax(0, 1fr)){% endif %};
        --product-gallery-carousel-scroll-snap-type: none;
        --product-gallery-carousel-gap: {{ section.settings.desktop_media_grid_gap }}px;
      {%- endif -%}
    }

    {%- if desktop_layout == 'grid_2x_highlighted' -%}
      #shopify-section-{{ section.id }} .product-gallery__media:not([hidden]) {
        grid-column: span 2;
      }

      #shopify-section-{{ section.id }} .product-gallery__media:not([hidden]) ~ .product-gallery__media {
        grid-column: span 1;
      }
    {%- endif -%}
  }
</style>

{%- comment -%}
  IMPLEMENTATION NOTE: Shopify does not natively offer a way to create a set of images per variant. This is often
  pretty limited when you have a lot of colors and would like to only see the images specific to a given color. To
  goes around that, Prestige offers a hack using alt tags whose usage is described here: https://support.maestrooo.com/article/721-variant-images-set
  The implementation is rather complex and inefficient due to a lot of string parsings, but it is, unfortunately, the
  only way to do it on Shopify right now.
{%- endcomment -%}

{% liquid
  assign default_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign product_gallery_carousel_id = 'product-gallery-carousel-' | append: product.id | append: '-' | append: section.id
  assign filtered_indexes = null | sort

  if product.variants.size > 1
    for media in product.media
      if media.alt contains '#' and media.alt != product.title
        assign alt_parts = media.alt | split: '#'
        assign media_group_parts = alt_parts.last | split: '_'
        assign option = product.options_by_name[media_group_parts.first]
        assign option_value = option.selected_value | downcase
        assign downcase_group_value = media_group_parts.last | strip | downcase

        if option_value != downcase_group_value and media != default_media
          assign media_position = media.position | sort
          assign filtered_indexes = filtered_indexes | concat: media_position
        endif
      endif
    endfor
  endif
%}

<product-gallery
  class="product-gallery"
  form="{{ product_form_id }}"
  filtered-indexes="{{ filtered_indexes | json }}"
  {% if enable_media_autoplay %}
    autoplay-media
  {% endif %}
  {% if enable_image_zoom %}
    allow-zoom="{{ max_image_zoom_level }}"
  {% endif %}
>
  <div class="product-info__mobile">
    {%- if product != blank -%}
      {%- assign product_title = product.title -%}
    {%- else -%}
      {%- assign product_title = 'general.on_boarding.product_title' | t -%}
    {%- endif -%}

    {%- if request.page_type == 'product' and context == 'main_product' -%}
      <h1 class="product-title h1 {{ block.settings.heading_tag }}">
        {{- product_title -}}
      </h1>
    {%- else -%}
      <h2 class="product-title h2 {{ block.settings.heading_tag }}">
        <a href="{{ product.url }}">{{ product_title }}</a>
      </h2>
    {%- endif -%}

    {%- if product != blank and product.metafields.loox.avg_rating > 0 -%}
      {%- render 'x-product-rating',
        product: product,
        show_empty: block.settings.show_empty,
        display_mode: block.settings.rating_mode,
        show_placeholder: false
      -%}
    {%- endif -%}

    {%- if product.selected_or_first_available_variant != null -%}
      <div class="v-stack">
        {%- render 'price-list',
          product: product,
          variant: product.selected_or_first_available_variant,
          context: 'product'
        -%}

        {%- if block.settings.show_taxes_notice -%}
          <p class="text-sm text-subdued">
            {%- if cart.taxes_included -%}
              {{ 'product.general.taxes_included' | t }}
            {%- else -%}
              {{ 'product.general.taxes_excluded' | t }}
            {%- endif -%}

            {%- if shop.shipping_policy.body != blank -%}
              {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          </p>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>

  {%- if enable_image_zoom -%}
    <open-lightbox-button class="contents">
      <button class="product-gallery__zoom-button circle-button circle-button--sm md:hidden">
        <span class="sr-only">{{ 'product.gallery.zoom' | t }}</span>
        {%- render 'icon' with 'zoom' -%}
      </button>
    </open-lightbox-button>
  {%- endif -%}

  {% render 'product-gallery-swiper' %}
</product-gallery>
