<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.mySwiper.mySwiperCollection{
  padding-left: 20px;
}
.swiper-slide.container-main-collection{
  width: 185px !important;
}
.swiper-slide.container-main-collection .product-card img{
  border-radius: 10px;
  height: 180px;
  width: 170px;
} 
.swiper-slide.container-main-collection .product-card{
  gap: 10px;
  height: 100%;
  grid-template-rows: 1fr;
}
.main-title-collection-product{
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: normal;
  letter-spacing: normal;
  {% comment %} overflow: hidden; {% endcomment %}
}
.main-description-collection-product{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #37393699;
  line-height: 16px;
}
.swiper-slide.container-main-collection .product-card img{
  display: none;
}
.swiper-slide.container-main-collection .product-card a:first-child{
  max-width: 185px;
  max-height: 185px;
  margin: 0 auto;
}
.swiper-slide.container-main-collection .product-card img:first-child{
  display: inline-flex;
  width: 100%;
  height: auto !important;
}
.price-collection-main{
  letter-spacing: normal;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.compare_price-collection-main{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: line-through;
  color: #37393633;
}
.variant-button-collection-main{
  width: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  margin: 0 auto;
  border: 1px solid rgb(221, 221, 221);
}
.variant-button-collection-main img{
  width: 24px;
  height: 24px !important;
}
.ring-2.variant-button-collection-main{
  border: 1px solid black;
}
.submit-button-collection{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  width: 100%;
  border: 1px solid #C5C1C0;
  height: 37px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #807371;
  transition: all 0.3s ease; 
}
.submit-button-collection:hover{
  background: black !important;
  color: white !important;
  border-color: black !important;
}
    
.main-title-collection-products{
  margin: 0 auto;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
  font-size: 34px;
}
.main-title-collection-products em{
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
}
.button-collection-products{
  background: #232222;
  color: white;
  min-width: 129px;
  height: 37px;
  width: fit-content;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid;
  transition: all 0.3s ease; 
}
.button-collection-products:hover{
  background: none !important;
  color: #373A36 !important;
  border-color:#C5C1C0 !important;
}
div.swiper-button-prev-collection,
div.swiper-button-next-collection{
  display: none;
}
.conatiner-collection-main{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
}
.mySwiperCollection{
  padding-bottom: 33px;
}
.swiper-button-prev-collection{
  position: absolute;
  top: 210px;
  left: -34px;
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
  border: 1px solid #37393633;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next-collection{
  position: absolute;
  right: -34px;
  top: 209px;
  width: 24px;
  height: 24px;
  border: 1px solid #37393633;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-star img{
  width: 15px !important;
  height: 14px !important;
}
.container-star{
  display: inline-flex;
  gap: 2px;
  padding-right: 1px;
  position: relative;
  bottom: 1px;
}
.conatainer-first-star{
  white-space: nowrap;
  overflow: hidden;
  min-height: 26.4px;
}
@media (max-width: 1024px) and (min-width: 769px) {
  .reviews_text{
    padding-left: 2px !important;
  }
} 
.reviews_text{
  color: #373A36CC;
  font-weight: 400;
  padding-left: 10px;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  display: inline-block;
  position: relative;
  bottom: 0px;
}
.number-reviews{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #37393666;
  position: relative;
  left: 2px;
  bottom: 0px;
}
.swiper-pagination-collections.swiper-pagination-clickable{
  margin: 0 auto;
  position: absolute;
  display: inline-flex;
  justify-content: center;
}
.swiper-pagination-collections.swiper-pagination-clickable .swiper-pagination-bullet{
  width: 62px;
  border-radius: 2px;
  background: #373A3699;
  height: 3px;
}

.main-container-block{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-more-variants img{
  height: 10px !important;
  width: 10px !important;
}
.show-more-variants{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  bottom: 8px;
  left: 1.2px;
}
.logo_center_navigation_below.header .header__secondary-nav{
  position: absolute;
  min-width: 291px;
  column-gap: 10px;
  align-items: center;
  top: -3px;
  margin-right: 22px;
}
.container.main-container-search-header .header-search__form-control svg{
  bottom: 3px;
}
.container.main-container-search-header .header-search__form-control{
  padding-bottom: 4px;
}
.predictive-search__content{
  position: absolute;
  right: -70px;
  top: 10px;
  background: white;
  width: 100vw; 
}
.logo_center_navigation_below.header .country-flag{
  width: 32px;
  height: 24px;
}
.logo_center_navigation_below.header{
  padding-top: 9px;
  padding-bottom: 11px;
  border-bottom: 1px solid #37393633;
  border-top: 1px solid #37393633;
}
.header__logo-image{
  width: 167px;
}
.container.main-container-search-header .predictive-search__results{
  position: absolute;
  right: 0;
  background: white;
  width: 100vw; 
  top: 0;
}
.mobile-cart-collection-main .container-main-collection .submit-button-collection{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.mobile-cart-collection-main .container-main-collection .price-collection-main{
  font-family: "Kumbh Sans", sans-serif;
  border: 1px solid hsla(0, 0%, 100%, .1);
  border-radius: 4px;
  background: #00000040;
  padding: 4px;
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 12px;
  line-height: 12px;
  color: white;
}
.mobile-cart-collection-main .container-main-collection .main-title-collection-product{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  height: 68px;
  overflow: hidden;
  padding: 8px 0 5px;
}
.mobile-cart-collection-main .container-main-collection .main-description-collection-product{
  text-align: center;
  padding-bottom: 15px;
  height: auto;
  overflow: hidden;
  font-size: 12px;
}
.mobile-cart-collection-main .container-main-collection .product-card{
  gap: 0;
}
.mobile-cart-collection-main .container-main-collection .add-to-cart-form{
  position: absolute;
  width: 34px;
  height: 34px;
  right: 4px;
  top: 4px;
}
.mobile-cart-collection-main .container-main-collection svg{
  position: absolute;
  width: 34px;
  color: white;
  height: 34px;
  right: 4px;
  top: 4px;
  border: 1px solid hsla(0, 0%, 100%, .1);
  border-radius: 4px;
  background: #00000040;
  padding: 4px;
}
.mobile-cart-collection-main .container-main-collection .main-product-image{
  border-radius: 8px;
}
.mobile-cart-collection-main .container-main-collection{
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 11px;
  box-shadow: 0 3px 4px #ffffff80;
  padding: 4px;
}
.mobile-cart-collection-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 0 10px;
}
.main-container-flex-collection > *:empty{
  display: none;
}
.main-container-flex-collection{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  max-width: 578px;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
.no-scroll .swiper-wrapper{
  justify-content: center;
}
.no-scroll .swiper-wrapper .swiper-slide:first-child{
  margin-left: 10px;
}
.button-next-collection-{{section.id }}{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #37393633;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 999;
  right: -34px;
}
.button-prev-collection-{{  section.id }} img{
  transform: rotate(180deg);
  position: relative;
}
.button-prev-collection-{{  section.id }}{
  position: absolute;
  left: -34px;
  border: 1px solid #37393633;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}
{% comment %} .swiper-slide.container-main-collection{
  margin: 0 auto;
} {% endcomment %}
@media (min-width: 768px){
  .conatiner-collection-main{
    display: grid;
  }
  .mobile-cart-collection-main{
    display: none;
  }
  .main-title-collection-products em{
    font-size: 47px;
  }
  .mySwiper.mySwiperCollection{
    padding-left: 0px;
    padding-bottom: 0;
  }
  .main-title-collection-products{
    margin: 0;
    font-size: 40px;
  }
  .button-collection-products{
    display: flex;
  }

  .main-container-flex-collection,
  .mySwiper.mySwiperCollection,
  .main-container-block{
    max-width: 660px;
    padding-bottom: 21px;
    line-height: normal;
    padding-bottom: 29px;
  }
    .main-container-flex-collection{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  .conatiner-collection-main{
    padding-bottom: 0;
  }
  .swiper-pagination-collections.swiper-pagination-clickable,
  .swiper-pagination-collections{
    display: none;
  }
  .swiper-slide.container-main-collection .product-card img{
    display: inline-block;
  }
  .swiper-slide.container-main-collection .product-card img{
    height: 230px;
    width: 100%;
  }
  .variant-button-collection-main{
    width: 30px;
    height: 30px;
  }
  div.swiper-button-prev-collection,
  div.swiper-button-next-collection{
    display: inline-flex;
  }
  .conatiner-collection-main{
    width: fit-content;
  }
  .swiper-wrapper.swiper-wrapper-main-collection{
    padding-left: 0px;
  }
  .swiper-slide.container-main-collection{
    width: 211px !important;
  }
  .main-collection-swiper-js,
  .main-container-flex-collection,
  .mySwiper.mySwiperCollection,
  .main-container-block{
    max-width: 655px !important;
  }
}
@media (min-width: 1024px){
  .main-collection-swiper-js,
  .main-container-flex-collection,
  .mySwiper.mySwiperCollection,
  .main-container-block{
    max-width: 900px !important;
  }
  .swiper-slide.container-main-collection{
    width: 217px !important;
  }
}
@media (min-width: 1440px){
  .main-collection-swiper-js,
  .main-container-flex-collection,
  .mySwiper.mySwiperCollection,
  .main-container-block{
    max-width: 1280px !important;
  }
  .swiper-slide.container-main-collection{
    width: 248px !important;
  }
  .main-container-flex-collection{
    grid-template-columns: repeat(5, min-content);
    margin: 0 auto;
    justify-content: center;
  }
}
.hidden-variant {
  display: none;
}
.section-{{ section.id }}{
  padding-top: {{ section.settings.top_padding }}px;
  padding-bottom: {{ section.settings.bottom_padding }}px;
}


.modal-buy-button-cart .modal-product-price-text{
  padding-left: 3px;
}
.modal-buy-button-cart{
  border-radius: 4px;
  margin-top: 30px;
  background: #232222;
  color: white;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
  transition: all 0.3s ease; 
  border: 1px solid #232222;
}
.modal-buy-button-cart:hover{
  background: white !important;
  color: #232222 !important;
  border-color: #232222 !important;
}
.modal-variants-container button,
.modal-variants-container img{
  border: none;
  width: 54px;
  margin: 0;
  height: 54px !important;
}
.modal-variants-container .ring-2.variant-button-collection-main{
  width: 64px;
  height: 64px !important;
}
.modal-variants-container{
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  position: relative;
  top: 0px;
  margin-top: 15px;
  left: 1px;
  align-items: center;
  justify-content: flex-start;
}
.modal-product-price{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373A36;
  letter-spacing: 0;
}
.conatiner-quantity-mobile input{
  width: 30px;
  height: 100%;
  border: none;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}
.container-main-button-modal{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
  gap: 0;
}
.conatiner-quantity-mobile{
  width: 89px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid #373A3633;
  background: white;
  display: flex;
  gap: 3px;
  justify-content: center;
}
.conatiner-quantity-mobile button{
  height: 100%;
  border: none;
}
.main-text-modal-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}
.swiper-button-next.swiper-button-next-modal img{
  top: 7px;
  left: 7px;
}
.swiper-button-prev.swiper-button-prev-modal img{
  transform: rotate(180deg);
}
.swiper-button-next.swiper-button-next-modal img,
.swiper-button-prev.swiper-button-prev-modal img{
  border: none;
}
.swiper-button-next.swiper-button-next-modal{
  right: 0px;
  top: 186px;
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
}
.swiper-button-prev.swiper-button-prev-modal{
  left: -1px;
  top: 186px;
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
}
.main-modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-modal-collection-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal-content {
  position: relative;
  background-color: #fff;
  width: 486px;
  padding: 10px 20px;
  max-width: 90%;
  z-index: 10;
  height: 95%;
  overflow: auto;
  max-height: fit-content;
  border-radius: 10px;
}
@media(min-width: 1024px){
  .modal-content {
  width: 95%;
  max-width: 970px;
}
  .modal-content .main-container-product-modal .modal-swiper-collection{
  width: 100%;
}
.modal-content .main-container-product-modal{
  display: grid;
  gap: 45px;
  grid-template-columns: 46% 48%;
}
}
.modalSwiper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.modalSwiper .swiper-slide {
  display: flex;
  justify-content: center;
}
.modalSwiper img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
}
.swiper-button-prev,
.swiper-button-next {
  color: #000; 
}
.modal-product-title{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  text-align: left;
  max-width: 307px;
  line-height: 20px;
}
.main-text-modal{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.container-modal-collection-main{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;
}
.modal-images-container img {
  max-width: 100px;
  border-radius: 8px;
  min-width: fit-content;
  height: 350px;
  margin: 0 auto;
  width: 350px;
  cursor: pointer;
  margin-top: 9px;
}
.modal-variants-container button, .modal-variants-container img{
  display: flex;
}
@media(max-width: 768px){
  .swiper-button-next.swiper-button-next-modal{
    display: flex;
    top: 160px;
    right: -7px;
  }
  .modal-variants-container button, .modal-variants-container img{
    width: 40px;
    height: 40px !important;
  }
  .modal-variants-container .ring-2.variant-button-collection-main{
    width: 40px;
    height: 40px !important;
  }
  .modal-variants-container{
    gap: 8px;
  }
  .swiper-button-prev.swiper-button-prev-modal{
    top: 152px;
  }
  .main-text-modal{
    font-size: 16px;
  }
  .modal-product-title{
    max-width: 231px;
        font-size: 14px;
  }
  .main-text-modal-container .container-star img{
    width: 14px !important;
    height: 14px !important; 
  }
  .modal-images-container img{
    width: 100%;
    height: fit-content;
    max-height: 280px;
    width: 280px;
  }
 .modal-content{
    padding: 10px;
    max-height: fit-content;
    width: 100%;
    max-width: 390px;
  } 
  .loox-rating .star:first-child {
    display: inline-block;
  }
  .reviews_text{
    padding-left: 2px;
  }
  .mobile-product-main-top .loox-rating .star {
    display: inline-flex;
  }
  .loox-rating .star {
    display: none;
  }
}

.loox-rating .star {
  font-size: 16px;
  color: #ccc;
}

.loox-rating .star.full {
  color: #ffb600;
}
.conatainer-first-stars.modal-reviews .reviews_text{
  padding-top: 5px;
}
.conatainer-first-stars.modal-reviews{
  align-items: center;
}
.swiper-pagination.swiper-pagination-main-collection .swiper-pagination-bullet{
  width: 62px;
  border-radius: 2px;
  background: #373A3699;
  height: 3px;
}

@media (min-width: 1024px){
  .main-container-flex-collection{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
  }
}
@media (min-width: 1440px){
  .main-container-flex-collection{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
  }
}
.variant-thumbs-wrapper{
  min-height: 34.09px;
}
@media (max-width: 768px){
  
  .main-collection-swiper-js .swiper-pagination-bullets{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 10px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 20px 0 0;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 13px;
    margin-left: 0px;
    overflow: auto;
    width: 100%;
  }
  .main-collection-swiper-js .swiper-pagination-bullets.overflowed{
    display: block;
    white-space: nowrap;
  }
  .main-collection-swiper-js .swiper-pagination-bullet{
    min-width: 62px;
    width: 62px;
    border-radius: 4px;
    padding: 0;
    border: none;
    height: 3px;
    background: #373A3699;
  }
  div.main-collection-swiper-js {
    margin-left: 20px;
  }
}
@media (max-width: 1439px){
  .main-description-collection-product{
    height: 32px;
  }
}

.main_button-show img{
    width: 10px;
    height: 10px;
}
.main_button-show{
  width: 54px;
  height: 54px;
  border: 1px solid #373A3666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px){
  .main_button-show{
    width: 40px;
    height: 40px;
  }
}
.main-size-modal-product{
  cursor: auto;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  {% comment %} text-align: center; {% endcomment %}
  text-transform: capitalize;
}
.main-title-modal-product{
  color: #373936CC;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
.modal-main-size-two .size-buttons-wrapper{
  width: 100% !important;
}
.main-container-modal-product{
  {% comment %} background: #F6F4F3; {% endcomment %}
  margin-top: 3px;
  border-radius: 10px;
  min-height: auto;
  padding: 15px 10px;
  display: grid;
  gap: 5px;
  padding-bottom: 0;
  padding-left: 0;
}
.close-modal-collection-products{
  cursor: pointer;
}
.size-buttons-wrapper button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #373A361A;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}
.size-buttons-wrapper{
  display: flex;
  justify-content: flex-start;
  gap: 5.17px;
  margin-top: 15px;
}
.active-size-main{
  color: white;
  background-color: black;
}
.modal-main-size-two{
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid #373A361A;
  padding-bottom: 5px;
}
.modal-main-size-two .modal-size-buttons{
  width: 213px;
}
.modal-main-size-two .main-container-modal-product{
  width: 213px;
  min-height: auto;
  margin: 0;
}
.modal-main-size-two .modal-size-buttons1{
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #373A361A;
}
.modal-main-size-two  .size-buttons-wrapper{
  flex-wrap: wrap;
  justify-content: flex-start;
  width: fit-content;
  margin: 0 auto;
  margin-top: 15px;
}
@media (max-width: 768px){
  .modal-main-size-two .modal-size-buttons,
  .modal-main-size-two .main-container-modal-product{
    width: 157px;
  }
  .modal-main-size-two .main-container-modal-product{
    min-height: 40px;
    padding: 10px;
    padding-left: 0;
    padding-bottom: 0;
    min-height: auto;
  }
  .modal-main-size-two .size-buttons-wrapper{
    gap: 8.25px;
  }
  .modal-content{
    max-width: 360px
  }
}

.links-details-collection-products-container a,
.links-details-collection-products-container div{
  border-bottom: 1px solid #373A3633;
  padding-bottom: 3px;
}
.links-details-collection-products-container{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373A3666;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: capitalize;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.modal-chose-size-cart{
  width: 100%;
  min-height: 54px;
  background: #D3D3D3;
  margin-top: 30px;
  color: white;
  border-radius: 4px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  border: 1px solid #D3D3D3;
  transition: all 0.3s ease;
}
.modal-chose-size-cart:hover{
  color: #807371;
  background: none;
  border-color: #807371;
}
.main-title-collection-product {
  display: -webkit-box;           
  -webkit-box-orient: vertical;   
  -webkit-line-clamp: 2;        
  overflow: hidden;              
  text-overflow: ellipsis;       
  word-break: break-word;         
  line-height: 1.4em;           
  max-height: calc(1.4em * 2);   
}
.variant-thumbs-wrapper.variant-thumbs-wrapper-product-top{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;
}
.variant-thumbs-wrapper.variant-thumbs-wrapper-product-top .variant-button-collection-main{
  margin: 0;
  width: 30px;
  height: 30px;
}
.main-btn-more-collectoins-color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);
}

.main-btn-more-collectoins-color img{
  width: 10px !important;
  height: 10px !important;
}
</style>


<section id='shopify-section-{{ section.id }}' class="collection-section section-{{ section.id }}">
  <div class="main-container-block">
    {% if section.settings.title != blank %}
      <div class="main-title-collection-products">{{ section.settings.title }}</div>
    {% endif %}

    {% if section.settings.button_link != blank and section.settings.button_text != blank %}
      <a class="button-collection-products" href="{{ section.settings.button_link }}">
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>
  <div class="conatiner-collection-main section-{{ section.id }} collection-section">
    <div class="swiper main-collection-swiper-js   gfdgfdfds">
      <div class="swiper-wrapper swiper-wrapper-main-collection">
        {% assign collection = collections[section.settings.collection] %}
        
        {% if collection and collection.products.size > 0 %}
          {% for product in collection.products %}
            <div class="swiper-slide container-main-collection">
              <div class="product-card bg-white shadow-md rounded-2xl p-4 flex flex-col items-center">
                <a href="{{ product.url }}">
                  <img src="{{ product.featured_image | img_url: '400x' }}" 
                     alt="{{ product.title }}" 
                     class="main-product-image mb-4 rounded-xl"/>
                </a>
                <div class="conatainer-first-star">
                  {% assign reviews_count = product.metafields.loox.num_reviews | default: 0 %}
                  {% assign rating = product.metafields.loox.avg_rating | default: 0 %}
                  {% assign rounded_rating = rating | round %}
                  
                  {% if reviews_count > 0 %}
                    <a href="#looxReviews">
                      <div class="loox-rating">
                        {% for i in (1..5) %}
                          {% if i <= rounded_rating %}
                            <span class="star full">★</span>
                          {% else %}
                            <span class="star empty">★</span>
                          {% endif %}
                        {% endfor %}
                        <span class="reviews_text">{{ product.metafields.loox.avg_rating }}/5.00</span>
                        <span class="number-reviews">({{ reviews_count }} reviews)</span>
                      </div>
                    </a>
                  {% endif %}
                </div> 
                {% comment %} <a href="{{product.url }}" class="main-title-collection-product">
                  {{ product.title }}
                </a> {% endcomment %}
                <a href="{{ product.url }}" class="main-title-collection-product">
                  {{ product.title }}
                </a>
                <div class="flex items-center gap-2 mb-3">
                  <span class="price-collection-main">{{ product.price | money }}</span>
                  {% if product.compare_at_price > product.price %}
                    <span class="compare_price-collection-main">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                </div>
                
                <div class="flex justify-center gap-2 mb-4 variant-thumbs-wrapper variant-thumbs-wrapper-product-top">
                  {% assign assigned_images = '' %}
                  {% assign first_variant_id = product.variants.first.id %}
                  {% assign variant_count = 0 %}
                  
                  {% for option_value in product.options_with_values[0].values %}
                    {% assign variant = product.variants | where: 'option1', option_value | first %}
                    
                    {% if variant.featured_image %}
                      {% unless assigned_images contains variant.featured_image.src %}
                        {% assign variant_count = variant_count | plus: 1 %}
                        
                        <button type="button"
                          class="thumbnail-swatch no-swiping variant-button-collection-main variant-thumb w-8 h-8 rounded-full 
                            overflow-hidden border-gray-300 hover:border-black 
                            {% if forloop.index == 1 %}ring-2 ring-black{% endif %}"
                          data-image="{{ variant.featured_image.src | img_url: '400x' }}"
                          data-variant-id="{{ variant.id }}"
                        >
                          <img src="{{ variant.featured_image.src | img_url: '100x100' }}" alt="{{ option_value }}">
                        </button>
                        
                        {% assign assigned_images = assigned_images | append: variant.featured_image.src | append: ',' %}
                      {% endunless %}
                    {% endif %}
                  {% endfor %}
                </div>
                
                <script>
document.addEventListener("DOMContentLoaded", function () {
  function updateAllSwatchSections() {
    const wrappers = document.querySelectorAll(".variant-thumbs-wrapper-product-top");
    if (!wrappers.length) return;

    wrappers.forEach(wrapper => {
      const swatches = wrapper.querySelectorAll(".thumbnail-swatch");
      if (!swatches.length) return;

      const oldBtn = wrapper.querySelector(".main-btn-more-collectoins-color");
      if (oldBtn) oldBtn.remove();

      swatches.forEach(s => s.style.display = "");

      const containerWidth = wrapper.clientWidth;
      const swatchWidth = 32; // includes padding/margin
      const gap = 4; // Tailwind gap-2 = 8px

      let visibleLimit = 0;
      for (let i = 1; i <= swatches.length; i++) {
        let totalWidth = i * swatchWidth + (i - 1) * gap;
        if (totalWidth <= containerWidth ) {
          visibleLimit = i;
        } else {
          break;
        }
      }

      if (swatches.length > visibleLimit) {
        for (let i = visibleLimit - 1; i < swatches.length; i++) {
          swatches[i].style.display = "none";
        }

        const btn = document.createElement("button");
        btn.className = "main-btn-more-collectoins-color w-8 h-8 flex items-center justify-center";
        const img = document.createElement("img");
        img.src = "https://www.rinfit.com/cdn/shop/t/41/assets/Vector1.svg?v=171725181937109148151759389141";
        img.alt = "More colors";
        btn.appendChild(img);

        swatches[visibleLimit - 2].after(btn);

        btn.addEventListener("click", function () {
          swatches.forEach(s => s.style.display = "");
          btn.style.display = "none";
        });
      }
    });
  }

  updateAllSwatchSections();
  window.addEventListener("resize", updateAllSwatchSections);
});
</script>
                <form method="post" action="/cart/add" class="add-to-cart-form">
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}" class="variant-input">
                  
                  <div class="product-data"
                    data-product-title="{{ product.title | escape }}"
                    data-product-image="{{ product.featured_image | img_url: '400x' }}"
                    data-product-images='[
                      {% for image in product.images %}
                       "{{ image | img_url: '400x' }}"{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    ]'
                    data-reviews-count="{{ product.metafields.loox.num_reviews | default: 0 }}"
                    data-avg-rating="{{ product.metafields.loox.avg_rating | default: 0 }}"
                    data-product-handle="{{ product.handle }}"
                  >
                    <script type="application/json" class="product-variants-json">
                      {{ product.variants | json }}
                    </script>
                  </div>
                  <button type="submit" class="submit-button-collection">{{ section.settings.button_text_cart }}</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      {% comment %} <div class=" swiper-pagination-{{ section.id }}"></div> {% endcomment %}
    </div>
    <div class="  button-next-collection-{{ section.id }}">
      {{ "Vector.svg" | asset_url | img_tag: "Next" }}
    </div>
    <div class=" button-prev-collection-{{ section.id }}">
      {{ "Vector.svg" | asset_url | img_tag: "Prev" }}
    </div>
  </div>
</section>

<template id="addToCartModalTemplate-{{ section.id }}">
  <div class="container-modal-collection-main fixed inset-0 z-50 hidden">
    <div class="modal-overlay absolute inset-0 bg-gray-500 bg-opacity-50"></div>
    
    <div class="modal-content relative bg-white p-6 rounded-lg shadow-lg text-center w-[486px] mx-auto my-auto">
      <div class='main-modal-header'>
        <p class="main-text-modal">quick add</p>
        <button type="button" class="absolute top-2 right-2 text-gray-500 hover:text-black close-modal">
          {{ "iconCancel.svg" | asset_url | img_tag: "Icon" }}
        </button>
      </div>
      <div class='main-container-product-modal'>
      <div class="swiper modal-swiper-collection mb-4">
        <div class="swiper-wrapper modal-images-container"></div>
          <div class="swiper-button-prev swiper-button-prev-modal">      
            {{ "VectorModal.svg" | asset_url | img_tag: "Prev" }}  
          </div>
          <div class="swiper-button-next swiper-button-next-modal">      
            {{ "VectorModal.svg" | asset_url | img_tag: "Next" }}  
          </div>
        </div>
        <div>
        <div class='main-text-modal-container'>
          <a href='#' class="modal-product-title mb-2"></a>
          <div class="conatainer-first-stars modal-reviews flex items-center gap-2 mt-2" style="display:none;">
            <div class="modal-stars"></div>
            <div class="modal-rating-text text-sm reviews_text"></div>
          </div>
        </div>
        <div class="mb-4 flex justify-center items-center gap-4 container-main-button-modal">
          <div class=" conatiner-quantity-mobile flex items-center gap-2">
            <button type="button" class="qty-btn px-3 py-1 border rounded" data-action="decrease">
              {{ "Modal.svg" | asset_url | img_tag: "Icon" }}
            </button>
            <input type="number" name="quantity" value="1" min="1" class="w-16 text-center border rounded" />
            <button type="button" class="qty-btn px-3 py-1 border rounded" data-action="increase">
              {{ "Modal1.svg" | asset_url | img_tag: "Icon" }}
            </button>
          </div>
          <div>
            <span class="modal-product-price text-lg font-bold"></span>
            <span class="modal-product-compare-price line-through text-gray-500 ml-2"></span>
          </div>
        </div>
        
        <div class="modal-variants-container mb-4 flex flex-wrap gap-2 justify-center"></div>
        
        <div class='modal-main-size-two'>
          <div class='modal-size-buttons1'>
            <div class="modal-size-buttons mt-4 mb-2">
              <div class='main-container-modal-product'>
                <label class="main-size-modal-product block mb-1 font-medium">male rings size: <span class='main-modal-first-size'></span></label>
              </div>
              <div class="size-buttons-wrapper option1-size flex flex-wrap gap-2"></div>
            </div>
          </div>
          <div class='modal-size-buttons2'>
            <div class="modal-size-buttons mt-4 mb-2">
              <div class='main-container-modal-product'>
                <label class="main-size-modal-product block mb-1 font-medium">female rings size: <span class='main-modal-second-size'></span></label>
              </div>
              <div class="size-buttons-wrapper option2-size flex flex-wrap gap-2"></div>
            </div>
          </div>
        </div>
        
        <div class="modal-size-buttons mt-4 mb-2">
          <div class='main-container-modal-product'>
            <label class="main-size-modal-product block mb-1 font-medium">Size: <span class='main-modal-size'></span></label>
          </div>
          <div class="size-buttons-wrapper flex flex-wrap gap-2"></div>
        </div>

        <form class="modal-add-to-cart-form" >
          <input type="hidden" name="id" value="" />
          <input type="hidden" name="quantity" value="1" />
          <input type="hidden" name="option1" value="" />
          <input type="hidden" name="option2" value="" />
          <input type="hidden" name="image" value="" />
          <div class="flex justify-center">
            <button type="submit" class="modal-buy-button-cart bg-black text-white px-4 py-2 rounded hover:bg-gray-800">
              add to cart -  <span class="modal-product-price-text"></span>
            </button>
          </div>
        </form>
        <button class='modal-chose-size-cart'>Choose size</button>
        <div class='links-details-collection-products-container'>
          <a class='modal-more-details' href='#'>more details</a> or <div class='close-modal-collection-products' >continue shopping</div>
        </div>
    </div>
          </div>
    </div>
  </div>
</template>


<script>
let clicked = false;

document.addEventListener("click", (e) => {
  const form = e.target.closest(".modal-add-to-cart-form");
  if (!clicked && e.target.closest(".modal-buy-button-cart")) {
    e.preventDefault();
    
    if (form) {
      const formData = new FormData(form);

      fetch("/cart/add.js", {
        method: "POST",
        body: formData,
      })
      .then(res => {
        if (!res.ok) throw new Error("Помилка запиту");
        return res.json();
      })
      .then(() => {
        return fetch("/cart.js", {
        headers: { "Accept": "application/json" }
      });
    })
    .then(res => res.json())
    .then(cart => {
      document.querySelectorAll(".cart-count").forEach(el => {
        el.textContent = cart.item_count;
      });
    
      const event = new CustomEvent("cart:refresh", { detail: cart });
      document.dispatchEvent(event);
      
      const cartDrawer = document.querySelector("cart-drawer-component");
      if (cartDrawer?.hasAttribute("auto-open")) {
        cartDrawer.open();
      }
    })
    .then(data => {
      const closeBtn = document.querySelector(".close-modal");
      if (closeBtn) {
        closeBtn.click(); 
      }

      const cartTrigger = document.querySelector('a[aria-controls="cart-drawer"]');      
      if (cartTrigger) {
        cartTrigger.click();
      }
    })
    .catch(err => console.error("Помилка:", err));
  }
  clicked = true;
}
  clicked = false;
});

document.addEventListener("DOMContentLoaded", function () {
  function debounce(func, wait = 100) {
    let timeout;
    return function(...args) {
      clearTimeout(timeout);
      timeout = setTimeout(() => func.apply(this, args), wait);
    };
  }

  document.querySelectorAll(".conatiner-collection-main").forEach(container => {
    const swiperEl = container.querySelector(".main-collection-swiper-js");
    if (!swiperEl || swiperEl.classList.contains("swiper-initialized")) return;

    const sectionClass = Array.from(container.classList).find(c => c.startsWith("section-"));
    const sectionId = sectionClass ? sectionClass.replace("section-", "") : "";

    const nextBtn = container.querySelector(`.button-next-collection-${sectionId}`);
    const prevBtn = container.querySelector(`.button-prev-collection-${sectionId}`);
    const paginationEl = swiperEl.querySelector(`.swiper-pagination-${sectionId}`);

    const swiper = new Swiper(swiperEl, {
      slidesPerView: 'auto',
      spaceBetween: 10,
      watchOverflow: true,
      pagination: {
        el: paginationEl,
        clickable: true,
      },
      navigation: {
        nextEl: nextBtn,
        prevEl: prevBtn,
      },
      on: {
        init: updateUI,
        resize: updateUI
      }
    });

    function updateUI() {
      const wrapperWidth = swiperEl.querySelector('.swiper-wrapper').scrollWidth;
      const containerWidth = swiperEl.clientWidth;
      const windowWidth = window.innerWidth;

      if (paginationEl) {
        if (paginationEl.scrollWidth > paginationEl.clientWidth) {
          paginationEl.classList.add("overflowed");
        } else {
          paginationEl.classList.remove("overflowed");
        }
      }

      if (wrapperWidth <= containerWidth) {
        swiperEl.classList.add('no-scroll'); 
      } else {
        swiperEl.classList.remove('no-scroll'); 
      }

      if (windowWidth < 768 || wrapperWidth <= containerWidth) {
        nextBtn.style.display = 'none';
        prevBtn.style.display = 'none';
      } else {
        nextBtn.style.display = 'flex';
        prevBtn.style.display = 'flex';
      }
    }

    window.addEventListener('resize', debounce(updateUI, 150));

    updateUI();

    swiperEl.classList.add("swiper-initialized");
  });
});
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll('.product-card').forEach(card => {
    const mainImg = card.querySelector('.main-product-image'); 
    const variantInput = card.querySelector('.variant-input'); 
    const variantThumbs = card.querySelectorAll('.variant-thumb');

    variantThumbs.forEach(btn => btn.classList.add('no-swiping'));

    variantThumbs.forEach((btn, index) => {
      btn.addEventListener('click', (e) => {
        e.preventDefault();
        e.stopPropagation(); 

        const imgSrc = btn.dataset.image; 
        if (mainImg) mainImg.src = imgSrc; 

        const variantId = btn.dataset.variantId;
        if (variantInput) variantInput.value = variantId;

        variantThumbs.forEach(b => b.classList.remove('ring-2', 'ring-black'));
        btn.classList.add('ring-2', 'ring-black');
      });

      if (index === 0 && variantInput) {
        variantInput.value = btn.dataset.variantId;
      }
    });

    const showMoreBtn = card.querySelector('.show-more-variants');
    if (showMoreBtn) {
      showMoreBtn.addEventListener('click', () => {
        card.querySelectorAll('.hidden-variant').forEach(el => el.classList.remove('hidden-variant'));
        showMoreBtn.remove();
      });
    }
  });
});
</script>



<script>
document.addEventListener("DOMContentLoaded", () => {

  const formatMoney = cents => "$" + (cents / 100).toFixed(2);

  const getCoreFromVariant = src => {
    const fileName = src.split("/").pop().split("?")[0];
    return fileName.replace(/_100x100\.(jpg|png|webp)$/i, "");
  };

  const getCoreFromSlide = src => {
    const fileName = src.split("/").pop().split("?")[0];
    return fileName.replace(/_400x\.(jpg|png|webp)$/i, "");
  };
  
  function setupQuantityControls(modal, qtyInput, hiddenQtyInput, modalPrice) {
    const updatePrice = () => {
      let val = parseInt(qtyInput.value) || 1;
      let price = parseInt(qtyInput.dataset.currentPrice || 0);
      modalPrice.textContent = formatMoney(price * val);
      modal.querySelector(".modal-product-price-text").textContent = formatMoney(price * val);
      hiddenQtyInput.value = val;
    };
    
    modal.querySelectorAll(".qty-btn").forEach(btn => {
      btn.addEventListener("click", () => {
        let val = parseInt(qtyInput.value) || 1;
        if (btn.dataset.action === "increase") val++;
        else if (btn.dataset.action === "decrease" && val > 1) val--;
        qtyInput.value = val;
        updatePrice();
      });
    });

  qtyInput.addEventListener("input", updatePrice);
}

function updateModal(modal, productData) {
  const detailsLink = modal.querySelector(".modal-more-details");
  if (detailsLink) {
    detailsLink.href = `/products/${productData.handle}`;
  }
  
  const modalContent = modal.querySelector(".modal-content");
  const addToCartBtn = modalContent.querySelector(".modal-buy-button-cart");
  const chooseSizeBtn = modalContent.querySelector(".modal-chose-size-cart");
  
  if (addToCartBtn && chooseSizeBtn) {
    addToCartBtn.style.display = "none";
    chooseSizeBtn.style.display = "inline-block";
  } 
  
  let imageInput = modalContent.querySelector("input[name='image']");
  if (!imageInput) {
    imageInput = document.createElement("input");
    imageInput.type = "hidden";
    imageInput.name = "image";
    modalContent.querySelector("form").appendChild(imageInput);
  }
    
  const modalTitle = modalContent.querySelector(".modal-product-title");
  const imagesWrapper = modalContent.querySelector(".modal-images-container");
  const variantsContainer = modalContent.querySelector(".modal-variants-container");
  const modalPrice = modalContent.querySelector(".modal-product-price");
  const modalComparePrice = modalContent.querySelector(".modal-product-compare-price");
  const qtyInput = modalContent.querySelector("input[name='quantity']");
  const hiddenQtyInput = modalContent.querySelector("input[name='quantity'][type='hidden']");
  const hiddenInput = modalContent.querySelector("input[name='id']");
  const option1Input = modalContent.querySelector("input[name='option1']");
  const option2Input = modalContent.querySelector("input[name='option2']");



  modalTitle.textContent = productData.title;
  modalTitle.href = `/products/${productData.handle}`;


  modal.querySelector(".close-modal-collection-products")?.addEventListener("click", closeModal);
  const option1Block = modalContent.querySelector(".option1-size").closest(".modal-size-buttons");
  const option2Block = modalContent.querySelector(".option2-size").closest(".modal-size-buttons");
  const singleBlock = modalContent.querySelector(".modal-size-buttons:not(:has(.option1-size)):not(:has(.option2-size))");

  const option1Wrapper = modalContent.querySelector(".option1-size");
  const option2Wrapper = modalContent.querySelector(".option2-size");
  const singleWrapper = singleBlock.querySelector(".size-buttons-wrapper");

  option1Wrapper.innerHTML = "";
  option2Wrapper.innerHTML = "";
  singleWrapper.innerHTML = "";

  const option1Values = [
    ...new Set(productData.variants.map(v => !isNaN(Number(v.option1)) ? v.option1 : null).filter(Boolean))
  ];
  const option2Values = [
    ...new Set(productData.variants.map(v => !isNaN(Number(v.option2)) ? v.option2 : null).filter(Boolean))
  ];
  
  const hasNumericOption1 = option1Values.length > 0;
  const hasNumericOption2 = option2Values.length > 0;

  if (hasNumericOption1 && hasNumericOption2) {
      
    option1Block.style.display = "block";
    option2Block.style.display = "block";
    singleBlock.style.display = "none";

    option1Values.forEach(size => {
      const btn = document.createElement("button");
      btn.type = "button";
      btn.className = "size-button px-3 py-1 border rounded text-sm hover:bg-gray-100";
      btn.textContent = size;
      btn.dataset.size = size;
      btn.dataset.option = "option1";
      option1Wrapper.appendChild(btn);
    });

    option2Values.forEach(size => {
      const btn = document.createElement("button");
      btn.type = "button";
      btn.className = "size-button px-3 py-1 border rounded text-sm hover:bg-gray-100";
      btn.textContent = size;
      btn.dataset.size = size;
      btn.dataset.option = "option2";
      option2Wrapper.appendChild(btn);
    });

  } else if (hasNumericOption1 && !hasNumericOption2) {
    
    option1Block.style.display = "none";
    option2Block.style.display = "none";
    singleBlock.style.display = "block";

    option1Values.forEach(size => {
      const btn = document.createElement("button");
      btn.type = "button";
      btn.className = "size-button px-3 py-1 border rounded text-sm hover:bg-gray-100";
      btn.textContent = size;
      btn.dataset.size = size;
      btn.dataset.option = "option1";
      singleWrapper.appendChild(btn);
    });
  
  } else {
      
    option1Block.style.display = "none";
    option2Block.style.display = "none";
    singleBlock.style.display = "block";

    const optionValues = [
      ...new Set(productData.variants.map(v => v.option2).filter(Boolean))
    ];

    optionValues.forEach(size => {
      const btn = document.createElement("button");
      btn.type = "button";
      btn.className = "size-button px-3 py-1 border rounded text-sm hover:bg-gray-100";
      btn.textContent = size.replace(/\D/g, "");
      btn.dataset.size = size;
      btn.dataset.option = "option1";
      singleWrapper.appendChild(btn);
    });
  }

  const sizeButtons = modalContent.querySelectorAll(".size-button");
  let currentVariantPrice = 0;

    var mainOption1 = false;
    var mainOption2 = false;

    sizeButtons.forEach(btn => {
      btn.addEventListener("click", () => {
        const parentWrapper = btn.closest(".size-buttons-wrapper");
        
        parentWrapper.querySelectorAll(".size-button").forEach(b => b.classList.remove("active-size-main"));
        btn.classList.add("active-size-main");
        
        const selectedSize = btn.dataset.size;   
        const optionType = btn.dataset.option;  
        const productHasNumericOption1 = productData.variants.some(v => !isNaN(Number(v.option1)));
        
        
        
        
        
        
        
        
        const variantMain = productData.variants;
        let hasOption2 = true; 
        
        for (let i = 0; i < variantMain.length; i++) {
          if (variantMain[i].option2 == null) { 
            hasOption2 = false;
            break;
          }
        }

        if(productHasNumericOption1 && !hasOption2){
          mainOption1 = true;
          mainOption2 = true;
          const sizeValue = document.querySelector(".main-modal-size")
          sizeValue.textContent = btn.dataset.size.replace(/\D/g, "");
      
          option2Input.value = selectedSize;
        
        } else if (productHasNumericOption1) {
          if (optionType === "option1") {
            const sizeValue1 = document.querySelector(".main-modal-first-size")
            sizeValue1.textContent = btn.dataset.size;
            mainOption1 = true;
            option1Input.value = selectedSize;
          } else if (optionType === "option2") {
            const sizeValue2 = document.querySelector(".main-modal-second-size")
            sizeValue2.textContent = btn.dataset.size;
            mainOption2 = true;
            option2Input.value = selectedSize;
          }
        } else {
          mainOption1 = true;
          mainOption2 = true;
          
          const sizeValue = document.querySelector(".main-modal-size")
          sizeValue.textContent = btn.dataset.size.replace(/\D/g, "");
      
          option2Input.value = selectedSize;
        }
        if(mainOption1 && mainOption2){
          if (addToCartBtn && chooseSizeBtn) {
            addToCartBtn.style.display = "inline-block";
            chooseSizeBtn.style.display = "none";
          }
        }
        
        const normalize = val => (!isNaN(Number(val)) ? Number(val) : val);
        
        const selectedVariant = productData.variants.find(v =>
          normalize(v.option1) === normalize(option1Input.value) &&
          normalize(v.option2) === normalize(option2Input.value)
        );
        
        if (selectedVariant) {
          hiddenInput.value = selectedVariant.id;
          currentVariantPrice = selectedVariant.price;
          qtyInput.dataset.currentPrice = selectedVariant.price;
          
          modalPrice.textContent = formatMoney(currentVariantPrice * (parseInt(qtyInput.value) || 1));
          hiddenQtyInput.value = qtyInput.value;
          
          if (selectedVariant.compare_at_price && selectedVariant.compare_at_price > selectedVariant.price) {
            modalComparePrice.textContent = formatMoney(selectedVariant.compare_at_price * parseInt(qtyInput.value));
            modalComparePrice.style.display = "inline";
          } else {
            modalComparePrice.style.display = "none";
          }
          
          if (addToCartBtn && currentVariantPrice) {
            const qty = parseInt(qtyInput.value) || 1;
            addToCartBtn.querySelector(".modal-product-price-text").textContent = formatMoney(currentVariantPrice * qty);
          }
          
          let optionsToSend = {
            option1: !isNaN(Number(selectedVariant.option1)) 
            ? Number(selectedVariant.option1) 
            : (selectedVariant.option1 || ""),
            option2: selectedVariant.option2 || "",
            image: selectedVariant.featured_image?.src || ""
          };
          
          if (!productHasNumericOption1) {
            optionsToSend.option2 = selectedSize;
            option2Input.value = selectedSize;
          }
          
          imageInput.value = optionsToSend.image;
        }
      });
      
      function selectFirstVariant() {
        let firstVariant = productData.variants[0];
        if (!firstVariant) return;
        
        const hiddenInput = modal.querySelector("input[name='id']");
        const option1Input = modal.querySelector("input[name='option1']");
        const option2Input = modal.querySelector("input[name='option2']");
        const imageInput = modal.querySelector("input[name='image']");
        const modalPrice = modal.querySelector(".modal-product-price");
        const hiddenQtyInput = modal.querySelector("input[name='quantity'][type='hidden']");
        const qtyInput = modal.querySelector("input[name='quantity']");
        
        hiddenInput.value = firstVariant.id;
        option1Input.value = firstVariant.option1 || "";
        option2Input.value = firstVariant.option2 || "";
        imageInput.value = firstVariant.featured_image?.src || "";
        
        const qty = parseInt(qtyInput.value) || 1;
        modalPrice.textContent = "$" + (firstVariant.price * qty / 100).toFixed(2);
        qtyInput.dataset.currentPrice = firstVariant.price;
        
        modal.querySelector(".modal-product-price-text").textContent = "$" + (firstVariant.price / 100).toFixed(2);
        hiddenQtyInput.value = qty;
        
        const sizeButtons = modal.querySelectorAll(".size-button");
        sizeButtons.forEach(btn => {
          btn.classList.remove("active-size-main");
          if (btn.dataset.size === firstVariant.option1 || btn.dataset.size === firstVariant.option2) {
            btn.classList.add("active-size-main");
          }
        });
        
        const swiperInstance = modal.querySelector(".modal-swiper-collection").swiper;
        const variantCore = firstVariant.featured_image?.src?.split("/").pop().replace(/_100x100\.(jpg|png|webp)$/i, "");
        const slidesArray = Array.from(modal.querySelectorAll(".modal-swiper-collection .swiper-slide:not(.swiper-slide-duplicate) img"));
        const slidesCore = slidesArray.map(img => img.src.split("/").pop().replace(/_400x\.(jpg|png|webp)$/i, ""));
        const targetSlideIndex = slidesCore.findIndex(c => c === variantCore);
        if (targetSlideIndex !== -1) swiperInstance.slideToLoop(targetSlideIndex, 0);
      }
      
      selectFirstVariant();
    });
    
    option1Wrapper.querySelectorAll(".size-button").forEach(btn => btn.classList.remove("active-size-main"));
    option2Wrapper.querySelectorAll(".size-button").forEach(btn => btn.classList.remove("active-size-main"));
    singleWrapper.querySelectorAll(".size-button").forEach(btn => btn.classList.remove("active-size-main"));

    imagesWrapper.innerHTML = "";
    const addedImages = new Set();
    productData.images.forEach((imgSrc, i) => {
      if (!addedImages.has(imgSrc)) {
        addedImages.add(imgSrc);
        const slide = document.createElement("div");
        slide.className = "swiper-slide";
        slide.dataset.image = imgSrc;
        slide.innerHTML = `
          <a href='/products/${productData.handle}'>
            <img src="${imgSrc}" alt="${productData.title} ${i + 1}" class="w-full h-auto">
          </a>
        `;
        imagesWrapper.appendChild(slide);
      }
    });

    const swiperInstance = new Swiper(modalContent.querySelector(".modal-swiper-collection"), {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      navigation: {
        nextEl: modalContent.querySelector(".swiper-button-next"),
        prevEl: modalContent.querySelector(".swiper-button-prev"),
      },
      pagination: {
        el: modalContent.querySelector(".swiper-pagination"),
        clickable: true,
      },
    });

    variantsContainer.innerHTML = "";
    const addedVariantImages = new Set();
    const allVariantButtons = [];

    productData.variants.forEach((variant, index) => {
      if (!variant.featured_image) return;
      const imgSrc = variant.featured_image.src;
      if (addedVariantImages.has(imgSrc)) return;
      addedVariantImages.add(imgSrc);

      const btn = document.createElement("button");
      btn.type = "button";
      btn.className = `variant-button-collection-main variant-thumb w-8 h-8 rounded-full overflow-hidden border ${index === 0 ? "ring-2 ring-black" : "border-gray-300 hover:border-black"}`;
      btn.dataset.image = imgSrc;
      btn.dataset.variantId = variant.id;
      btn.dataset.price = variant.price;
      btn.dataset.compareAtPrice = variant.compare_at_price || 0;
      btn.innerHTML = `<img src="${imgSrc.replace('.jpg','_100x100.jpg')}" alt="${variant.title}" class="w-full h-full object-cover">`;
      
      btn.addEventListener("click", () => {
        currentVariantPrice = variant.price;
        modalPrice.textContent = formatMoney(currentVariantPrice * (parseInt(qtyInput.value) || 1));
        hiddenQtyInput.value = qtyInput.value;
        hiddenInput.value = variant.id;
        
        if (variant.compare_at_price && variant.compare_at_price > variant.price) {
          modalComparePrice.textContent = formatMoney(variant.compare_at_price * parseInt(qtyInput.value));
          modalComparePrice.style.display = "inline";
        } else {
          modalComparePrice.style.display = "none";
        }
        
        variantsContainer.querySelectorAll("button").forEach(b => b.classList.remove("ring-2", "ring-black"));
        btn.classList.add("ring-2", "ring-black");
        
        option1Input.value = variant.option1 || "";
        option2Input.value = variant.option2 || "";
        imageInput.value = variant.featured_image?.src || "";
        
        const selectedOptionsDisplay = modalContent.querySelector(".modal-selected-options");
        if (selectedOptionsDisplay) {
          selectedOptionsDisplay.textContent = `${variant.option1 || ""} ${variant.option2 || ""}`.trim();
        }
        
        const variantCore = getCoreFromVariant(btn.querySelector("img").src);
        const slidesArray = Array.from(modalContent.querySelectorAll(".modal-swiper-collection .swiper-slide:not(.swiper-slide-duplicate) img"));
        const slidesCore = slidesArray.map(img => getCoreFromSlide(img.src));
        
        const targetSlideIndex = slidesCore.findIndex(c => c === variantCore);
        if (targetSlideIndex !== -1) {
          swiperInstance.slideToLoop(targetSlideIndex, 300);
        }
        
        const optionsToSend = {
          option1: variant.option1 || "",
          option2: variant.option2 || "",
          image: variant.featured_image?.src || "",
        };
        
        
        option1Input.value = optionsToSend.option1;
        option2Input.value = optionsToSend.option2;
        imageInput.value = optionsToSend.image;
        hiddenInput.value = variant.id; 
      });

      allVariantButtons.push(btn);
    });

    const maxVisibleVariants = 6;
    allVariantButtons.forEach((btn, i) => {
      if (i < maxVisibleVariants) {
        variantsContainer.appendChild(btn);
      } else {
        btn.style.display = "none";
        variantsContainer.appendChild(btn);
      }
    });

    if (allVariantButtons.length > maxVisibleVariants) {
      const showAllBtn = document.createElement("button");
      showAllBtn.innerHTML = `
        <div class='main_button-show'>
          <img src="{{ 'VectorModal12.svg' | asset_url }}" alt="All" />
        </div>
      `;
      showAllBtn.className = "show-all-variants-btn text-sm text-blue-600 hover:underline mt-2";
      showAllBtn.type = "button";

      showAllBtn.addEventListener("click", () => {
        allVariantButtons.forEach(btn => {
          btn.style.display = "flex";
        });
        showAllBtn.remove();
      });

      variantsContainer.appendChild(showAllBtn);
    }

    qtyInput.value = 1;
    hiddenQtyInput.value = 1;



    setupQuantityControls(modal, qtyInput, hiddenQtyInput, modalPrice);

    const reviewsCount = productData.reviewsCount || 0;
    const avgRating = productData.avgRating || 0;
    const roundedRating = Math.round(avgRating);

    const reviewsContainer = modal.querySelector(".modal-reviews");
    const starsContainer = modal.querySelector(".modal-stars");
    const ratingText = modal.querySelector(".modal-rating-text");

    if (reviewsCount > 0) {
      starsContainer.innerHTML = "";
      for (let i = 1; i <= 5; i++) {
        const star = document.createElement("span");
        star.textContent = i <= roundedRating ? "★" : "☆";
        star.style.color = i <= roundedRating ? "#FBBF24" : "#D1D5DB";
        star.style.fontSize = "18px";
        starsContainer.appendChild(star);
      }
      ratingText.textContent = `${avgRating.toFixed(2)}/5.00`;
      reviewsContainer.style.display = "flex";
    } else {
      reviewsContainer.style.display = "none";
    }

    document.body.style.overflow = "hidden";
    function closeModal() {
      modal.remove();
      document.body.style.overflow = "";
    }
    modal.querySelector(".close-modal")?.addEventListener("click", closeModal);
    modal.querySelector(".modal-overlay").addEventListener("click", closeModal);
  }
  document.querySelectorAll(".add-to-cart-form").forEach(form => {
    const triggerBtn = form.querySelector("button, input[type='submit']");
    if (triggerBtn) {
      triggerBtn.addEventListener("click", e => {
        e.preventDefault();
        
        document.querySelector(".container-modal-collection-main")?.remove();
        
        const productDataElem = form.querySelector(".product-data");
        const handle = productDataElem.dataset.productHandle;
        const variants = JSON.parse(productDataElem.querySelector(".product-variants-json").textContent);
        const images = JSON.parse(productDataElem.dataset.productImages);
        const title = productDataElem.dataset.productTitle;
        
        const reviewsCount = parseInt(productDataElem.dataset.reviewsCount) || 0;
        const avgRating = parseFloat(productDataElem.dataset.avgRating) || 0;
        
        const template = document.querySelector("#addToCartModalTemplate-{{ section.id }}");
        const modalClone = template.content.cloneNode(true);
        const modal = modalClone.querySelector(".container-modal-collection-main");
        
        document.body.appendChild(modal);
        updateModal(modal, { title, images, variants, reviewsCount, avgRating, handle });

        
        modal.classList.remove("hidden");
      });
    }
  });
});
</script>

{% schema %}
{
  "name": "Collection products",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Text button",
      "default": "ADD TO CART"
    },
     {
      "type": "text",
      "id": "button_text_cart",
      "label": "Text button cart",
      "default": "ADD TO CART"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Padding top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Padding bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 40
    },
  ],
  "presets": [
    {
      "name": "Collection products"
    }
  ]
}
{% endschema %}
